<ng-container>
  <c-container [fluid]="true" class="border-bottom">
    <button
      [cSidebarToggle]="sidebarId()"
      cHeaderToggler
      class="btn"
      toggle="visible"
      style="margin-inline-start: -14px"
      aria-label="Toggle sidebar navigation"
    >
      <svg cIcon name="cilMenu" size="lg"></svg>
    </button>
    <ul nz-menu nzMode="horizontal" class="d-none d-md-flex align-items-center">
      <li nz-submenu nzTitle="Company">
        <ul>
          <li
            nz-menu-item
            (click)="openFormInTab('/groups', 'Groups')"
            (contextmenu)="openInNewWindowWithFeatures('/groups', $event)"
            [nzSelected]="isRouteActiveExact('/groups')"
          >
            Groups
          </li>
          <li
            nz-menu-item
            (click)="openFormInTab('/company-list', 'Company Center')"
            (contextmenu)="openInNewWindowWithFeatures('/company-list', $event)"
            [nzSelected]="isRouteActiveExact('/company-list')"
          >
            Company Center
          </li>
          <li
            nz-menu-item
            (click)="openFormInTab('/lst-department', 'Departments')"
            (contextmenu)="
              openInNewWindowWithFeatures('/lst-department', $event)
            "
            [nzSelected]="isRouteActiveExact('/lst-department')"
          >
            Departments
          </li>
          <li
            nz-menu-item
            (click)="openFormInTab('/users', 'Users')"
            (contextmenu)="openInNewWindowWithFeatures('/users', $event)"
            [nzSelected]="isRouteActiveExact('/users')"
          >
            User
          </li>
          <li
            nz-menu-item
            (click)="openFormInTab('/roles', 'Roles')"
            (contextmenu)="openInNewWindowWithFeatures('/roles', $event)"
            [nzSelected]="isRouteActiveExact('/roles')"
          >
            Roles
          </li>
        </ul>
      </li>

      <li nz-submenu nzTitle="Customer">
        <ul>
          <li
            nz-menu-item
            (click)="openFormInTab('/lst-customer', 'Customer Center')"
            (contextmenu)="openInNewWindowWithFeatures('/lst-customer', $event)"
            [nzSelected]="isRouteActiveExact('/lst-customer')"
          >
            Customer Center
          </li>

          <li nz-submenu nzTitle="Procurement">
            <ul>
              <li nz-submenu nzTitle="Inquiries">
                <ul>
                  <li
                    nz-menu-item
                    (click)="openFormInTab('/inquiry-form', 'Add Inquiry')"
                    (contextmenu)="openInNewWindowWithFeatures('/inquiry-form', $event)"
                    [nzSelected]="isRouteActiveExact('/inquiry-form')"
                  >
                    Add Inquiry
                  </li>
                  <li nz-menu-item>
                    Inquiry Register
                  </li>
                </ul>
              </li>
              <li nz-menu-item>Offers</li>
              <li nz-menu-item>Sale Order</li>
              <li nz-menu-item>Sale Invoice</li>
            </ul>
          </li>

          <li nz-menu-item>Others</li>
          <li nz-menu-item>Memorandum Sales</li>
        </ul>
      </li>

      <li nz-submenu nzTitle="Vendor">
        <ul>
          <li nz-submenu nzTitle="Vendor-Center">
            <ul>
              <!-- Vendor List under Vendor-Center -->
              <li
                nz-menu-item
                (click)="openFormInTab('/lst-vendor', 'Vendor Center')"
                (contextmenu)="
                  openInNewWindowWithFeatures('/lst-vendor', $event)
                "
                [nzSelected]="isRouteActiveExact('/lst-vendor')"
              >
                Vendor List
              </li>

              <!-- Vendor Contacts under Vendor-Center -->
              <li
                nz-menu-item
                (click)="
                  openFormInTab('/lst-vendor-contact', 'Vendor Contacts')
                "
                (contextmenu)="
                  openInNewWindowWithFeatures('/lst-vendor-contact', $event)
                "
                [nzSelected]="isRouteActiveExact('/lst-vendor-contact')"
              >
                Vendor Contacts
              </li>
            </ul>
          </li>

          <li nz-menu-item>Admin Bills</li>
          <li nz-menu-item>Vendor Bills</li>
        </ul>
      </li>

      <li nz-submenu nzTitle="HRM & Payroll">
        <ul>
          <li
            nz-menu-item
            (click)="openFormInTab('/lst-employee', 'Employee List')"
            (contextmenu)="openInNewWindowWithFeatures('/lst-employee', $event)"
            [nzSelected]="isRouteActiveExact('/lst-employee')"
          >
            Employee List
          </li>
          <li
            nz-menu-item
            (click)="openFormInTab('/attendance', 'Attendance')"
            (contextmenu)="openInNewWindowWithFeatures('/attendance', $event)"
            [nzSelected]="isRouteActiveExact('/attendance')"
          >
            Attendance
          </li>
          <li
            nz-menu-item
            (click)="openFormInTab('/leaves', 'Leaves')"
            (contextmenu)="openInNewWindowWithFeatures('/leaves', $event)"
            [nzSelected]="isRouteActiveExact('/leaves')"
          >
            Leaves
          </li>
          <li nz-menu-item>Payroll</li>
          <li nz-menu-item>Performance Reviews</li>
        </ul>
      </li>

      <li nz-submenu nzTitle="Banking">
        <ul>
          <li nz-menu-item>Sale Receipts</li>
          <li nz-menu-item>Payments</li>
          <li nz-menu-item>Inter Bank Transfers</li>
          <li nz-menu-item>Petty Cashes</li>
        </ul>
      </li>

      <li nz-submenu nzTitle="Lists">
        <ul>
          <li nz-submenu nzTitle="Location">
            <ul>
              <li
                nz-menu-item
                (click)="openFormInTab('/zone', 'Zone List')"
                (contextmenu)="openInNewWindowWithFeatures('/zone', $event)"
                [nzSelected]="isRouteActiveExact('/zone')"
              >
                Zone List
              </li>
              <li
                nz-menu-item
                (click)="openFormInTab('/country', 'Country List')"
                (contextmenu)="openInNewWindowWithFeatures('/country', $event)"
                [nzSelected]="isRouteActiveExact('/country')"
              >
                Country List
              </li>
              <li
                nz-menu-item
                (click)="openFormInTab('/state', 'State List')"
                (contextmenu)="openInNewWindowWithFeatures('/state', $event)"
                [nzSelected]="isRouteActiveExact('/state')"
              >
                State List
              </li>
              <li
                nz-menu-item
                (click)="openFormInTab('/city', 'City List')"
                (contextmenu)="openInNewWindowWithFeatures('/city', $event)"
                [nzSelected]="isRouteActiveExact('/city')"
              >
                City List
              </li>
              <li
                nz-menu-item
                (click)="openFormInTab('/lstCurrency', 'Currency List')"
                (contextmenu)="
                  openInNewWindowWithFeatures('/lstCurrency', $event)
                "
                [nzSelected]="isRouteActiveExact('/lstCurrency')"
              >
                Currency List
              </li>
            </ul>
          </li>
          <li nz-submenu nzTitle="Company List">
            <ul>
              <li
                nz-menu-item
                (click)="openFormInTab('/businesses', 'Business Type')"
                (contextmenu)="
                  openInNewWindowWithFeatures('/businesses', $event)
                "
                [nzSelected]="isRouteActiveExact('/businesses')"
              >
                Business Type
              </li>
              <li
                nz-menu-item
                (click)="openFormInTab('/industries', 'Industries')"
                (contextmenu)="
                  openInNewWindowWithFeatures('/industries', $event)
                "
                [nzSelected]="isRouteActiveExact('/industries')"
              >
                Industries
              </li>

              <li
                nz-menu-item
                (click)="openFormInTab('/lst-vendor-nature', 'Vendor Nature')"
                (contextmenu)="
                  openInNewWindowWithFeatures('/lst-vendor-nature', $event)
                "
                [nzSelected]="isRouteActiveExact('/lst-vendor-nature')"
              >
                Vendor Nature
              </li>
            </ul>
          </li>
          <li nz-submenu nzTitle="Employee List">
            <ul>
              <li
                nz-menu-item
                (click)="openFormInTab('/job-titles', 'Job Titles')"
                (contextmenu)="
                  openInNewWindowWithFeatures('/job-titles', $event)
                "
                [nzSelected]="isRouteActiveExact('/job-titles')"
              >
                Job Titles
              </li>
            </ul>
          </li>
          <li nz-submenu nzTitle="Status List">
            <ul>
              <li
                nz-menu-item
                (click)="
                  openFormInTab('/employeeStatus-list', 'Employee Status List')
                "
                (contextmenu)="
                  openInNewWindowWithFeatures('/employeeStatus-list', $event)
                "
                [nzSelected]="isRouteActiveExact('/employeeStatus-list')"
              >
                Employee Status
              </li>
            </ul>
          </li>
          <li nz-submenu nzTitle="Status Class List">
            <ul>
              <li
                nz-menu-item
                (click)="
                  openFormInTab(
                    '/employeeStatusClass-list',
                    'Employee Status Class List'
                  )
                "
                (contextmenu)="
                  openInNewWindowWithFeatures(
                    '/employeeStatusClass-list',
                    $event
                  )
                "
                [nzSelected]="isRouteActiveExact('/employeeStatusClass-list')"
              >
                Employee Status Class
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>

    <c-header-nav class="d-none d-md-flex ms-auto">
      <app-notification-dropdown></app-notification-dropdown>
    </c-header-nav>

    <c-header-nav class="ms-auto ms-md-0">
      <div class="nav-item py-1">
        <div class="vr h-100 mx-2 text-body text-opacity-75"></div>
      </div>
      <ng-container *ngTemplateOutlet="themeDropdown" />
      <div class="nav-item py-1">
        <div class="vr h-100 mx-2 text-body text-opacity-75"></div>
      </div>
    </c-header-nav>

    <c-header-nav class="mx-0">
      <ng-container *ngTemplateOutlet="userDropdown" />
    </c-header-nav>
  </c-container>
  <ng-template #userDropdown>
    <c-dropdown
      [popperOptions]="{ placement: 'bottom-end' }"
      variant="nav-item"
    >
      <button
        [caret]="false"
        cDropdownToggle
        class="py-0 pe-0 border-0 bg-transparent"
      >
        <div class="avatar-circle-container">
          <img
            [src]="
              profilePictureUrl ||
              'https://cdn-icons-png.flaticon.com/512/149/149071.png'
            "
            (error)="onImageError($event)"
            alt="User avatar"
            class="header-avatar-circle"
          />
        </div>
      </button>

      <div
        cDropdownMenu
        class="p-3 user-dropdown-card"
        style="min-width: 280px; border-radius: 12px"
      >
        <div class="text-center mb-3">
          <div class="avatar-circle-container-large">
            <img
              [src]="
                profilePictureUrl ||
                'https://cdn-icons-png.flaticon.com/512/149/149071.png'
              "
              (error)="onImageError($event)"
              alt="User avatar"
              class="dropdown-avatar-circle"
            />
          </div>

          <div class="fw-semibold fs-6 mt-2">
            {{
              loadingUser
                ? "Loading..."
                : currentUser?.userName || "Unknown User"
            }}
          </div>
          <small class="text-muted">
            {{ currentUser?.email || "" }}
          </small>
        </div>
        <hr class="my-2" />

        <div class="d-flex justify-content-between mb-2">
          <a cDropdownItem class="flex-fill text-center me-1">
            <svg cIcon class="me-1 text-primary" name="cilUser"></svg>
            Profile
          </a>
          <a
            cDropdownItem
            (click)="onLogout()"
            class="flex-fill text-center ms-1"
          >
            <svg cIcon class="me-1 text-danger" name="cilAccountLogout"></svg>
            Logout
          </a>
        </div>

        <ul nz-menu nzMode="vertical" class="w-100 mt-2">
          <li
            nz-menu-item
            (click)="openFormInTab('/change-password', 'Change Password')"
            (contextmenu)="
              openInNewWindowWithFeatures('/change-password', $event)
            "
            [nzSelected]="isRouteActiveExact('/change-password')"
            class="text-center fw-semibold"
          >
            <svg cIcon class="me-2" name="cilLockLocked"></svg>
            Change Password
          </li>
        </ul>
      </div>
    </c-dropdown>
  </ng-template>

  <ng-template #themeDropdown>
    <c-dropdown alignment="end" variant="nav-item">
      <button [caret]="false" cDropdownToggle aria-label="Open theme picker">
        <svg cIcon [name]="icons()" size="lg"></svg>
      </button>
      <div cDropdownMenu>
        @for (mode of colorModes; track mode.name) {
        <button
          (click)="colorMode.set(mode.name)"
          [active]="colorMode() === mode.name"
          cDropdownItem
          class="d-flex align-items-center"
        >
          <svg cIcon class="me-2" [name]="mode.icon" size="lg"></svg>
          {{ mode.text }}
        </button>
        }
      </div>
    </c-dropdown>
  </ng-template>

  <style>
    .user-dropdown-card {
      box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
      border: 1px solid #e5e5e5;
    }

    /* Header avatar circle */
    .avatar-circle-container {
      display: inline-block;
      border-radius: 50%;
      overflow: hidden;
      width: 40px;
      height: 40px;
      border: 2px solid #ddd;
    }

    .header-avatar-circle {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }

    /* Dropdown avatar circle */
    .avatar-circle-container-large {
      display: inline-block;
      border-radius: 50%;
      overflow: hidden;
      width: 80px;
      height: 80px;
      border: 3px solid #e9ecef;
    }

    .dropdown-avatar-circle {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }

    .user-dropdown-card a {
      border-radius: 6px;
      padding: 8px 12px;
      font-size: 14px;
    }

    .user-dropdown-card a:hover {
      background-color: #f1f3f4;
    }
  </style>
</ng-container>
