<div class="state-wrapper" [ngClass]="{ collapsed: isCollapsed }">

  <!-- FORM PANEL -->
  <div *ngIf="showModal; else stateGrid">
    <app-frm-state
      [countries]="countries"
      [filteredCountries]="filteredCountries"
      [isEdit]="isEdit"
      [stateData]="selectedStateData"
      (formSubmit)="onFormSubmit($event)"
      (cancel)="onCancelForm()">
    </app-frm-state>
  </div>

  <!-- GRID PANEL -->
  <ng-template #stateGrid>
    <app-grid-layout
      title="State Management"
      layoutKey="state-grid-layout"
      [columnDefs]="[
        { field: 'name', headerName: 'State Name', width: 200 },
        { field: 'countryName', headerName: 'Country', width: 200 },
        { field: 'stateCode', headerName: 'State Code', width: 150 }
      ]"
      [rowData]="states"
      [pageNumber]="currentPage"
      [pageSize]="pageSize"
      [totalCount]="totalStates"
      (rowClicked)="onRowClicked($event)"
      (onAdd)="showAddForm()"
      (onUpdate)="editState(selectedRowId!)"
      (onRefresh)="refreshStates()"
      (onPageChange)="onPageChange($event)"
      (onPageSizeChange)="onPageSizeChange($event)">
    </app-grid-layout>
  </ng-template>

</div>
