<!--sidebar-->
<c-sidebar
  #sidebar1="cSidebar"
  class="d-print-none sidebar sidebar-fixed border-end"
  colorScheme="dark"
  id="sidebar1"
>
  <c-sidebar-header class="border-bottom">
    <c-sidebar-brand
      [routerLink]="['/dashboard']"
      class="d-flex align-items-center px-3 py-2"
    >
      <svg cIcon name="cilApps" height="28" class="me-2 text-info"></svg>
      <div class="d-flex flex-column lh-sm">
        <span class="fw-bold text-white fs-5">ERP System</span>
        <small class="text-secondary">Enterprise Suite</small>
      </div>
    </c-sidebar-brand>
  </c-sidebar-header>

  <!-- side navbar -->
  <!-- Sidebar Nav -->
  <ng-scrollbar pointerEventsMethod="scrollbar" visibility="hover">
    <c-sidebar-nav [navItems]="navItems" dropdownMode="close" compact />
  </ng-scrollbar>

  <!-- Sidebar Footer -->
  @if (!sidebar1.narrow) {
  <c-sidebar-footer
    cSidebarToggle="sidebar1"
    class="border-top d-none d-lg-flex"
    toggle="unfoldable"
    style="cursor: pointer"
  >
    <button cSidebarToggler aria-label="Toggle sidebar fold"></button>
  </c-sidebar-footer>
  }
</c-sidebar>

<!--main-->
<div class="wrapper d-flex flex-column min-vh-100">
  <!--app-header-->
<app-default-header
  [cShadowOnScroll]="'sm'"
  class="d-print-none header header-sticky p-0 shadow-sm"
  position="sticky"
  sidebarId="sidebar1"
/>

  <!--app-body-->
  <div class="body flex-grow-1">
    <c-container [fluid]="true" class="h-auto" style="margin: 0.5 -0.5rem">
      <router-outlet />
    </c-container>
  </div>
  <!--app footer-->
  <app-default-footer />
</div>
